* {
  padding:0;
  margin:1;
  font-family:sans-serif;
  font-color: #FFFAFA;
}
body{
     margin: 0;
     padding: 0;
     background: url('coronavirus.jpg');
     background-size: cover;
     background-position: center;
     font-family: sans-serif;
     color: #FFFAFA;
}
.jik{
  font-size: 20px;
  text-align: center;
  margin: 40px;
}
